In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
df = pd.read

AttributeError: module 'pandas' has no attribute 'read'

In [42]:
df = pd.read_csv

In [46]:
df= pd.read_csv("BDM\WHO-COVID-19-june_20.csv")

In [47]:
conn = sqlite3.connect("covid19_db.db")

In [45]:
df.to_sql('covid19_tbl', conn)

ValueError: Table 'covid19_tbl' already exists.

In [ ]:
sql_q0 = 'Select * from covid19_tbl'

In [ ]:
df = pd.read_sql(sql_q0, conn)

In [ ]:
q1 = 'Select * from covid19_tbl where WHO_region = "EMRO" '

In [ ]:
df = pd.read_sql(q1, conn)

In [4]:
df

NameError: name 'df' is not defined

In [5]:
q2 = ' Select distinct Country from covid19_tbl where WHO_region = "EMRO" '

In [6]:
df = pd.read_sql(q2, conn)

NameError: name 'conn' is not defined

In [7]:
df

NameError: name 'df' is not defined

In [8]:
q3 = ' Select distinct WHO_region from covid19_tbl '

In [9]:
df = pd.read_sql(q3, conn)

NameError: name 'conn' is not defined

In [10]:
df

NameError: name 'df' is not defined

In [11]:
csv.writer(who_region)

NameError: name 'csv' is not defined

In [12]:
pd.csv_writer(csvfile, dialect='excel')

AttributeError: module 'pandas' has no attribute 'csv_writer'

In [13]:
df.to_csv (r'BDM\who_regions.csv', index = False, header=True)

NameError: name 'df' is not defined

In [14]:
q4 = 'select * from covid19_tbl where WHO_region = "EMRO"'

In [15]:
df = pd.read_sql(q4, conn)

NameError: name 'conn' is not defined

In [16]:
df

NameError: name 'df' is not defined

In [17]:
df.to_csv (r'BDM\EMRO.csv', index = False, header=True)

NameError: name 'df' is not defined

In [18]:
q5 = 'select * from covid19_tbl where WHO_region = "EURO"'

In [19]:
df = pd.read_sql(q5, conn)

NameError: name 'conn' is not defined

In [20]:
df

NameError: name 'df' is not defined

In [21]:
df.to_csv (r'BDM\EMRO.csv', index = False, header=True)

NameError: name 'df' is not defined

In [22]:
df.to_csv (r'BDM\EURO.csv', index = False, header=True)

NameError: name 'df' is not defined

In [23]:
q5 = 'select * from covid19_tbl where WHO_region = "AFRO"'

In [24]:
df = pd.read_sql(q5, conn)

NameError: name 'conn' is not defined

In [25]:
df

NameError: name 'df' is not defined

In [26]:
df.to_csv (r'BDM\AFRO.csv', index = False, header=True)

NameError: name 'df' is not defined

In [27]:
q5 = 'select * from covid19_tbl where WHO_region = "AMRO"'

In [28]:
df = pd.read_sql(q5, conn)

NameError: name 'conn' is not defined

In [29]:
df

NameError: name 'df' is not defined

In [30]:
df.to_csv (r'BDM\AMRO.csv', index = False, header=True)

NameError: name 'df' is not defined

In [31]:
q5 = 'select * from covid19_tbl where WHO_region = "WPRO"'

In [32]:
df = pd.read_sql(q5, conn)

NameError: name 'conn' is not defined

In [33]:
df

NameError: name 'df' is not defined

In [34]:
df.to_csv (r'BDM\WPRO.csv', index = False, header=True)

NameError: name 'df' is not defined

In [35]:
q5 = 'select * from covid19_tbl where WHO_region = "SEARO"'

In [36]:
df = pd.read_sql(q5, conn)

NameError: name 'conn' is not defined

In [37]:
df

NameError: name 'df' is not defined

In [38]:
df.to_csv (r'BDM\SEARO.csv', index = False, header=True)

NameError: name 'df' is not defined

In [57]:
q5 = 'select Date_reported, New_cases, Cumulative_cases from covid19_tbl where Country = "India" '

In [58]:
df = pd.read_sql(q5, conn)

In [59]:
df

            Date_reported  New_cases  Cumulative_cases
0    2020-01-30T00:00:00Z          1                 1
1    2020-01-31T00:00:00Z          0                 1
2    2020-02-01T00:00:00Z          0                 1
3    2020-02-02T00:00:00Z          1                 2
4    2020-02-03T00:00:00Z          1                 3
..                    ...        ...               ...
138  2020-06-16T00:00:00Z      10667            343091
139  2020-06-17T00:00:00Z      10974            354065
140  2020-06-18T00:00:00Z      12881            366946
141  2020-06-19T00:00:00Z      13586            380532
142  2020-06-20T00:00:00Z      14516            395048

[143 rows x 3 columns]

In [60]:
df.to_csv (r'BDM\India_02.csv', index = False, header=True)