In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
df = pd.read

AttributeError: module 'pandas' has no attribute 'read'

In [4]:
df = pd.read_csv

In [5]:
df= pd.read_csv("BDM\WHO-COVID-19-june_20.csv")

In [7]:
conn = sqlite3.connect("covid19_db.db")

In [9]:
df.to_sql('covid19_tbl', conn)

In [11]:
sql_q0 = 'Select * from covid19_tbl'

In [12]:
df = pd.read_sql(sql_q0, conn)

In [13]:
q1 = 'Select * from covid19_tbl where WHO_region = "EMRO" '

In [14]:
df = pd.read_sql(q1, conn)

In [15]:
df

,index,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,0,2020-02-24T00:00:00Z,AF,Afghanistan,EMRO,1,1,0,0
1,1,2020-02-25T00:00:00Z,AF,Afghanistan,EMRO,0,1,0,0
2,2,2020-02-26T00:00:00Z,AF,Afghanistan,EMRO,0,1,0,0
3,3,2020-02-27T00:00:00Z,AF,Afghanistan,EMRO,0,1,0,0
4,4,2020-02-28T00:00:00Z,AF,Afghanistan,EMRO,0,1,0,0
...,...,...,...,...,...,...,...,...,...
2423,22829,2020-06-16T00:00:00Z,YE,Yemen,EMRO,116,848,44,209
2424,22830,2020-06-17T00:00:00Z,YE,Yemen,EMRO,41,889,6,215
2425,22831,2020-06-18T00:00:00Z,YE,Yemen,EMRO,17,906,30,245
2426,22832,2020-06-19T00:00:00Z,YE,Yemen,EMRO,7,913,4,249
2427,22833,2020-06-20T00:00:00Z,YE,Yemen,EMRO,10,923,3,252

In [19]:
q2 = ' Select distinct Country from covid19_tbl where WHO_region = "EMRO" '

In [20]:
df = pd.read_sql(q2, conn)

In [21]:
df

                                              Country
0                                         Afghanistan
1                                             Bahrain
2                                            Djibouti
3                                               Egypt
4                          Iran (Islamic Republic of)
5                                                Iraq
6                                              Jordan
7                                              Kuwait
8                                             Lebanon
9                                               Libya
10                                            Morocco
11  occupied Palestinian territory, including east...
12                                               Oman
13                                           Pakistan
14                                              Qatar
15                                       Saudi Arabia
16                                            Somalia
17                                              Sudan
18                               Syrian Arab Republic
19                                            Tunisia
20                               United Arab Emirates
21                                              Yemen

In [33]:
q3 = ' Select distinct WHO_region from covid19_tbl '

In [34]:
df = pd.read_sql(q3, conn)

In [35]:
df

  WHO_region
0       EMRO
1       EURO
2       AFRO
3       AMRO
4       WPRO
5      SEARO
6       None

In [25]:
csv.writer(who_region)

NameError: name 'csv' is not defined

In [27]:
pd.csv_writer(csvfile, dialect='excel')

AttributeError: module 'pandas' has no attribute 'csv_writer'

In [29]:
df.to_csv (r'BDM\who_regions.csv', index = False, header=True)